/* General body styling */
body {
    background-color: #fffacd; /* Light warm color for the background */
    font-family: 'HGMaruGothicMPRO', sans-serif; /* Default font family */
    margin: 0;
    padding: 0;
    color: #333; /* Default text color */
}

/* Header styling */
h1 {
    color: #fff; /* Text color */
    background-color: #000080; /* Navy background color */
    font-family: "Georgia", serif; /* Font family */
    font-size: 2.5rem; /* Font size */
    text-align: center; /* Center text */
    margin: 1.25rem auto; /* Margin for spacing */
    padding: 1rem 2rem; /* Padding for spacing */
    max-width: 85%; /* Maximum width */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Box shadow for depth */
}

/* Styling for unordered lists */
h2 {
    color: #fff;
    padding: 0;
    list-style-type: none; /* Remove default list style */
    background-color: #4CAF50; /* Green background */
    border-radius: 0.5rem; /* Rounded corners */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); /* Box shadow for depth */
    padding: 1rem; /* Padding inside the list */
    margin: 1rem 0; /* Margin outside the list */
}

/* Styling for list items */
li {
    padding: 0 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
    float: left;
    writing-mode: vertical-rl; /* Vertical text orientation */
}

/* Flexbox styling for .goods class */
.goods {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    list-style: none; /* Remove default list style */
}

/* Individual list items within .goods */
.goods li {
    padding: 50px;
    margin: 20px;
    border: 1px solid #000000; /* Border around items */
}

/* Styling for images */
.picture img {
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Box shadow for depth */
    max-width: 100%; /* Responsive width */
    height: auto; /* Maintain aspect ratio */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Smaller font size for smaller screens */
    }

    .goods li {
        padding: 20px;
        margin: 10px;
    }

    .exp {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -ms-column-count: 1;
        column-count: 1; /* Single column for smaller screens */
        height: auto; /* Auto height */
    }
}
.box{
   text-align:left;
}
 .picture{
   text-align:center;
}

.exp{
 -webkit-writing-mode:vertical-rl;
 -moz-writing-mode:vertical-rl;
 -ms-writing-mode:tb-rl;
 -ms-writing-mode:vertical-rl;
 writing-mode:vertical-rl;
 -webkit-column-count:2;
 -moz-column-count: 2;
 -ms-column-count: 2;
 column-count:2;
 -webkit-column-gap:30;
 -moz-column-gap:2;
 -ms-column-gap: 2;
 column-gap: 2;
 display: inline-block;
 height: 500;
 text-align: left;
}
#yen{
    font-size: 100px;
    line-height: 45px;
   
}
